<!DOCTYPE html>
<html>
<head>
 <style>
            body{
                background-image: url('https://images.unsplash.com/photo-1621472124503-a760c1146f44?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
                background-size: cover;
                height: 100vh;
                padding:0;
                margin:0;
            }
        </style>
</head>
<body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="href=three.r119.min.js"></script>
    <script src="href=vanta.dots.min.js"></script>
    <script>
        VANTA.DOTS({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0xbb62fa,
            color2: 0x20ffb0
        })
    </script>

<h2>IFrame</h2>

<p>Note: When the target attribute of a link matches the name of an iframe, the link will open in the iframe.</p>

<p><a href="https://www.youtube.com/embed/M8rXkvpKpG8" target="iframe_a" frameborder="none">My video</a></p>

<p><a href="https://csp.nighthawkcodingsociety.com/y2022/padlet" target="iframe_a" frameborder="0">Padlet</a></p>

<iframe src="https://www.youtube.com/embed/jXZAbnn1kTU" name="iframe_a" height="400px"
 width="50%" title="Iframe Example" frameborder="none"></iframe>


<iframe width="500" height="281.35738831615123" src="https://www.youtube.com/embed/iMdARprhhZc" title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis dolore ea eius enim, est facere fuga id 
illum impedit inventore iusto labore magnam maiores nihil perferendis possimus quae quas qui quidem recusandae saepe sed 
similique sunt suscipit totam ut? Assumenda dignissimos, labore laborum nostrum obcaecati placeat tempore! Accusantium animi 
culpa illum mollitia nulla officia omnis quia tempore. Dolore enim error id maiores modi nemo, nesciunt praesentium quasi ratione, 
velit voluptate voluptates. Accusantium aliquam asperiores consectetur corporis culpa doloribus ducimus earum eos error exercitationem
 inventore mollitia nam odio officia pariatur placeat porro quia reprehenderit repudiandae, temporibus totam, ullam vero 
voluptatibusLorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis dolore ea eius enim, est facere fuga id 
illum impedit inventore iusto labore magnam maiores nihil perferendis possimus quae quas qui quidem recusandae saepe sed 
similique sunt suscipit totam ut? Assumenda dignissimos, labore laborum nostrum obcaecati placeat tempore! Accusantium animi 
culpa illum mollitia nulla officia omnis quia tempore. Dolore enim error id maiores modi nemo, nesciunt praesentium quasi ratione, 
velit voluptate voluptates. Accusantium aliquam asperiores consectetur corporis culpa doloribus ducimus earum eos error exercitationem
 inventore mollitia nam odio officia pariatur placeat porro quia reprehenderit repudiandae, temporibus totam, ullam vero voluptatibus.</pre>



<a href="#">GOTO TOP</a>
</body>
</html>